/ {
    combos {
        compatible = "zmk,combos";
        combo_arrow_up { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp UP>; key-positions = <RT1 RM1>; layers = <L_HOME>; };
        combo_arrow_down { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp DOWN>; key-positions = <RM1 RB1>; layers = <L_HOME>; };
        combo_arrow_left { timeout-ms = <FAST_COMBO_TIMEOUT>; bindings = <&kp LEFT>; key-positions = <RM0 RM1>; layers = <L_HOME>; };
        combo_arrow_right { timeout-ms = <FAST_COMBO_TIMEOUT>; bindings = <&kp RIGHT>; key-positions = <RM1 RM2>; layers = <L_HOME>; };
        combo_page_up { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp PAGE_UP>; key-positions = <RT0 RM0>; layers = <L_HOME>; };
        combo_page_down { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp PAGE_DOWN>; key-positions = <RM0 RB0>; layers = <L_HOME>; };
        combo_home { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp HOME>; key-positions = <RT2 RM2>; layers = <L_HOME>; };
        combo_end { timeout-ms = <SLOW_COMBO_TIMEOUT>; bindings = <&kp END>; key-positions = <RM2 RB2>; layers = <L_HOME>; };
    };
};
