ZMK_COMBO(save,  &kp C_SAVE,     RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(find,  &kp C_FIND,     RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(cut,   &kp C_CUT,      RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(copy,  &kp C_COPY,     RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(paste, &kp C_PASTE,    RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(undo,  &kp C_UNDO,     RM2 RB2,     L_HOME, COMBO_TERM_FAST)
ZMK_COMBO(redo,  &kp C_REDO,     RM2 RB2,     L_HOME, COMBO_TERM_FAST)
